/********

COMMON

*********/


body{
    font-family: "monospace",sans-serif;
    background: url(img/background.jpeg);
    font-weight: bold;
    cursor: url(img/egg.png), auto;
}

.font-secondary{
    font-size: 26px;
    background: linear-gradient(90deg,#a604f1 10%,#f699f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Oleo Script Swash Caps', monospace;
}

.title-icon{
    font-size: 18px;
    font-weight: bold;
}

p{
    font-size: 14px;
}

.font-secondary{
    font-weight: bold;
    font-size: 30px;
}

h2{
    margin-bottom: 35px;
}

.font-white{
    color: rgb(162, 94, 173) !important;
}

/****   NavBar ****/

.font-primary{
    color: #945ae7;
    font-size: 35px;
}

.color-white{
    color: white;
    font-size: 20px;
}
a.purple{
    color:#c188dc !important;
}

.navbar-toggler-icon {
    background-image: url(img/menu.png) !important;
  }

.about-me-img, .project-img{
    width:25px;
    text-align:center;
}


/*********

ABOUT

**********/

#about {
    margin: 80px auto;
    margin-bottom: 200px;
    max-width: 450px;
    text-align: center;
    color: white;
}

#about img{
    border-radius: 50%;
    width: 120px;
    margin-bottom: 10px;
}

#about .name{
    font-size: 19px;
    margin-bottom: 20px;
}

#about .vocation{
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;
    animation: typing 5s forwards;
    color: rgb(239, 157, 248);
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

#about .skills{
    font-size: 14px;
    color: #945ae7;
    margin-bottom: 40px;
}

#about .email{
    margin-top: 14px;
    font-size: 14px;
}

#about .links img{
    width:35px;
    margin: 10px 10px;
}

#about .icons {
    margin-top: 20px;
    font-size: 30px;
}

#about .icons a{
    color:#000;
}


/*********

PROJECT

**********/

#project{
    margin: 60px auto;
    width: 80%;
}
#project h2{
    text-align: center;
}
#project card{
    width: 100%;
}
#project .card-title{
    font-weight: bold;
}

#project .card{
    background-color: transparent;
    color: #6fa4e9;
    border-color: #6e71cd;
}

#project .col-md-8{
    margin-top: 1.5rem;
}

#project .card-text .btn{
    background-color: #578ad1;
}

#project .vid {
    margin-top: 1rem;
    width: 100%;
    height: 300px;
    background-color: black;
  }