/********

COMMON

*********/

body{
    font-family: "monospace",sans-serif;
    background-color: #ded4ed;
    font-weight: bold;
    cursor: url(img/egg.png), auto;
}

.font-primary{
    color: #945ae7;
}

.font-secondary{
    font-size: 26px;
    background: linear-gradient(90deg,#ae00ff 10%,#da7dd9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Oleo Script Swash Caps', monospace;}
}

.title-icon{
    font-size: 18px;
    font-weight: bold;
}

p{
    font-size: 14px;
}

h2{
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 20px;
}

a.font-black{
    color: #000 !important;
}

/*********

ABOUT

**********/

#about {
    margin: 60px auto;
    max-width: 400px;
    text-align: center;
}

#about img{
    border-radius: 50%;
    width: 120px;
    margin-bottom: 10px;
}

#about .name{
    font-size: 19px;
}

#about .vocation{
    font-size: 17px;
    color: #A8A8AB;
    margin-bottom: 10px;
}

#about .skills{
    font-size: 14px;
    color: #945ae7;
    margin-bottom: 10px;
}

#about .email{
    margin-top: 14px;
    font-size: 14px;
}

#about .icons{
    margin-top: 20px;
    font-size: 30px;
}

#about .icons a{
    color:#000;
}

/*********

PROJECT

**********/

#project{
    margin: 60px auto;
    width: 80%;
}

#project h2{
    text-align: center;
}

#project .card img {
    width: 100%; 
    height: 250px;
}

#project .card-title{
    font-weight: bold;
}

#project .cardtext{
    text-align: center;
}